<li>
  <div class="form-group form-group-sm">
    <label id="algo_label"
        class="controls label label-default"
        for="algo_select">algorithm</label>
    <select id="algo_select"
        class="btn btn-default"
        bind:value="algorithm"
        on:click='fire( "select" )'
    >
      {{#if algorithms}}
      {{#each algorithms as al}}
      <option value={{al.key}}>{{al.key}}</option>
      {{/each}}
      {{/if}}
      </select>
  </div>
</li>
<li>
{{#if algorithms}}
  {{#each algorithms as al}}
    {{#if al.key === algorithm}}
      <Neighbor neighbors="{{ al.neighborhood }}" n="{{ al.neighborhood[0].type}}" />
    {{/if}}
  {{/each}}
{{/if}}
</li>
<script>
import Neighbor from './Neighbor.html'

export default {
  oncreate () {
    this.observe('algorithm', (v) => {
      console.log(`algorithm: [${v}] selected`)
    }, { init: false, defer: true })
    this.on('select', () => {
        console.log('algorithm: select event happened')
    })
  },
  components: {
    Neighbor
  }
}
</script>