<Field
 class="full"
 size={{size}}/>
<ul style="display: none;">
	<li>
	<label>
		algorithm
	<select bind:value="algorithm">
		{{#if algorithms}}
		{{#each algorithms as al}}
		<option value={{al.key}}>{{al.key}}</option>
		{{/each}}
		{{/if}}
		</select>
	</label>
	</li>
	<li><input bind:value="argument" value="{{argument}}" /></li>
	<li>algorithm: {{algorithm}} ({{argument}}) -> {{out}}</li>
</ul>


<script>
import Field from './Field.html'

const algos = [
	{ key: "addOne", method: (a) => 1 + parseInt(a,10)  },
	{ key: "addTwo", method: (a) => 2 + parseInt(a,10) }
]

const algomethod = (algorithm) => 
	algos.filter(
		({key}) => key === algorithm)
[0].method

export default {
	data () {
		return {
			algorithms: algos,
			algorithm: 'addOne',
			argument: 42
		}
	},
	computed: {
		out: (algorithm, argument) => algomethod(algorithm)(argument)
	},
	components: {
		Field
	}
}
</script>

<style>
	.full {
		width: 100%;
	}
</style>
