<style>
ul {
  max-width: 240px;
  list-style: none;
  float: left;
}
</style>
<ul>
  <Algorithm ref:algorithm :algorithms />
  <Neighbor ref:neighbor :neighbors />
  <State ref:state :states />
</ul>
<script>
import { filter } from 'lodash-es'
// import settings from '../js/settings.js'
import Algorithm from './Algorithm.html'
import Neighbor from './Neighbor.html'
import State from './State.html'

const observer = {}

export default {
  oncreate() {
    const algorithms = this.get('algorithms')
    const algorithm = algorithms[0]
    const neighbors =
      (algorithm &&
        algorithm.neighborhood &&
        algorithm.neighborhood.map(({ name }) => name)) ||
      []
    this.set({
      algorithm,
      neighbors,
    })

    const observers = ['algorithm', 'neighbor', 'state']
    for (let _observer of observers) {
      this.addObserver(_observer)
    }
    this.observe('algorithm', algorithm => {
      if (algorithm) {
        const a = this.get('algorithms')
        const selected = filter(a, { key: algorithm })[0]
        if (selected) {
          this.set({
            neighbors: selected.neighborhood,
          })
        }
      }
    })
    /*
    this.observe('neighbor', (v) => {
      if (v) {
        const a = this.get('neighbors')
        const selected = filter(a, {type: v})
        if (selected && selected.length > 0) {
          this.set({ radii: selected[0].radius })
        }
      }
    })
    */
  },
  ondestroy() {
    Object.keys(observer).map(name => {
      observer[name].cancel()
      delete observer[name]
    })
  },
  data() {
    return {
      neighbors: [],
    }
  },
  components: {
    Algorithm,
    Neighbor,
    State,
  },
  methods: {
    addObserver: function(name) {
      const ref = this.refs[name]
      observer[name] = ref.observe(name, value => {
        if (value && name) {
          this.set({ [name]: value })
        }
      })
    },
  },
  // TODO: how to get out the settings for viewport? algorithm, neighborhood, states
}
</script>
