<style>
ul {
  max-width: 240px;
  list-style: none;
  float: left;
}

li {
  float: right;
  width: 220px;
  padding-bottom: 5px;
}
</style>

<ul>
  <DetailControl scaling="{{ scaling }}" />
  <AlgorithmControls algorithms="{{ algorithms }}" />
  <State states="{{ states }}"/>
</ul>
<script>
import settings from '../js/settings.js'
import states from '../js/states.js'

import DetailControl from './DetailControl.html'
import AlgorithmControls from './AlgorithmControls.html'
import State from './State.html'

var details = []
for (var i = 1; i <= settings.detail.max; i++) {
  details.push(i)
}

export default {
  data () {
    return {
      scaling: details,
      states: states,
      settings: settings
    }
  },
  components: {
    DetailControl,
    AlgorithmControls,
    State
  }
}
</script>
