<style>
ul {
  max-width: 240px;
  list-style: none;
  float: left;
}

li {
  float: right;
  width: 220px;
  padding-bottom: 5px;
}
</style>

<ul>
  <DetailControl ref:detail scaling={{ scaling }} />
  <AlgorithmControls algorithms={{ algorithms }} settings={{ settings }}/>
  <State ref:state states={{ states }} />
</ul>
<script>
import DetailControl from './DetailControl.html'
import AlgorithmControls from './AlgorithmControls.html'
import State from './State.html'

export default {
  components: {
    DetailControl,
    AlgorithmControls,
    State
  },
  // TODO: how to get out the settings for viewport? detail, algorithm, neighborhood, radius, states
}
</script>
