<li>
  <div class="form-group form-group-sm">
    <label id="detail_label"
      class="controls label label-default"
      for="detail_select">level of detail</label>
      <select id="detail_select"
        class="btn btn-default"
        type="list"
        list="detail_list"
        bind:value="detail"
        on:click='fire( "select" )'
      >
      {{#if scaling}}
      {{#each scaling as n}}
      <option value="{{n}}">{{n}}</option>
      {{/each}}
      {{/if}}
    </select>
  </div>
</li>
<script>
import settings from '../js/settings.js'
const { detail: { initial } } = settings

export default {
  oncreate () {
    const scaling = this.get('scaling')
    if (scaling && scaling.length > 0) {
      const detail = (initial-1 in scaling) ? initial: scaling[0]
      this.set({ detail })
    }
  }
}
</script>
