<svg class="container overflow-visible">
  <g>
    <rect
      width="{{canvas.width}}"
      height="{{canvas.height}}"
      x="{{canvas.x}}"
      y="{{canvas.y}}"
      style="fill:{{canvas.background}}"
    />
  {{#each field.matrix as row, i}}
    {{#each row as cell, j}}
      <rect
        :width :height
        x="{{cell.x + gap}}" y="{{cell.y + gap}}"
        id="cell{{i}}x{{j}}" style="fill:{{cell.color}}"
      />
    {{/each}}
  {{/each}}
  </g>
</svg>
<FieldDebug
  ref:debug
  :x
  :y
  :cellsize
  :gap
  :width
  :height
/>
<style>
  .overflow-visible {
    overflow: visible;
  }

  .container {
    display: flex;
  }
</style>
<script type="buble">
import FieldDebug from './FieldDebug.html'

import {
  background,
  createField,
  randomMatrix,
  step,
  colors
} from '../modules/matrix'

import {
  parseUnsignedInt as parse,
  spacing,
} from '../modules/utils'

const frames = 0.5 // Hz

const canvasParams = (cellsize, x, y, gap) => {
  return {
    background,
    width: cellsize * x + gap,
    height: cellsize * y + gap,
    x: 0,
    y: 0
  }
}

export default {
  oncreate () {
    this.refs.debug.observe('x', (x) => this.set({ x }))
    this.refs.debug.observe('y', (y) => this.set({ y }))
    this.refs.debug.observe('height', (height) => this.set({ height }))
    this.refs.debug.observe('width', (width) => this.set({ width }))
    this.refs.debug.observe('cellsize', (cellsize) => this.set({ cellsize }))
    this.refs.debug.observe('gap', (gap) => this.set({ gap }))

    const initialMatrix = randomMatrix(colors.length)(this.get('x'), this.get('y'))
    this.set({ matrix: initialMatrix })

    const interval = 1 / frames * 1000
    const freq = 1000 / interval
    console.log(`Running simulation at ~${freq} Hz`)
    this.interval = setInterval( () => {
      console.log('step for matrix')
      const matrix = step(this.get('matrix'), { states: colors.length })
      this.set({ matrix });
    }, interval );
  },

  ondestroy () {
    clearInterval( this.interval );
  },

  data () {
    const field = { matrix: [] }

    return {
      x: 3,
      y: 3,
      gap: 2,
      cellsize: 128,
      field
    }
  },
  computed: {
    gap: (gap) => parse(gap),
    field: (x, y, cellsize, gap, matrix) => {
      return {
        matrix: createField(colors, matrix, x, y, cellsize, gap),
        cellsize,
        x,
        y,
        gap
      }
    },
    width: (cellsize, gap) =>
      spacing(parse(cellsize), parse(gap)),
    height: (cellsize, gap) =>
      spacing(parse(cellsize), parse(gap)),
    canvas: (cellsize, x, y, gap) =>
      canvasParams(parse(cellsize), parse(x), parse(y), parse(gap)),
    x: x => parse(x),
    y: y => parse(y),
  },
  components: {
    FieldDebug
  }
}
</script>
