<div class="debug">
  <InputManipulator
    bind:value="cellsize"
    value={{cellsize}}
    label="Cellsize"
  />
  <InputManipulator
    bind:value="gap"
    value={{gap}}
    label="Gap"
  />
  <InputManipulator
    bind:value="x"
    value={{x}}
    label="Cells x"
  />
  <InputManipulator
    bind:value="y"
    value={{y}}
    label="Cells y"
  />
  <div>
    <ul>
      <li><b>computed values</b></li>
      <li>width: {{width}}</li>
      <li>height: {{height}}</li>
    </ul>
  </div>
</div>
<style>
  .debug {
    display: block;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    border: 1em #851085 solid;
    background: rgba(0, 168, 168, 0.8);
  }

  li {
    list-style: none;
  }
</style>
<script type="buble">
  import InputManipulator from './InputManipulator.html'

  export default {
    components: {
      InputManipulator
    }
  }
</script>
