<div class="flex-container">
  <label>
    <span class="label">{{label}}</span>
    <input bind:value="value" value="{{value}}" maxlength="{{maxlength}}" />
    <button on:click="set({ value: value + steps})" type="button">+</button>
    <button on:click="set({ value: value - steps})" type="button">-</button>
  </label>
</div>
<script>
  export default {
    data () {
      return {
        steps: 1,
        maxlength: 3
      }
    }
  }
</script>
<style>
label {
  display: flex;
  background: white;
  justify-content: flex-end;
  width: 15em;
  padding: 0.5em;
}

.label {
  width: 100%;
}

input {
  max-width: 5em;
}

button {
  display: inline-block;
  min-width: 2em;
  min-height: 2em;
}

.flex-container {
  display: flex;
  width: 100%;
}
</style>
