{{#if debug}}
{{debug}}
<ul>
<li>settings:</li>
<li>detail: {{detail}}</li>
<li>algorithm:  {{algorithm}}</li>
<li>neighbor:  {{neighbor}}</li>
<li>radius:  {{radius}}</li>
<li>state:  {{state}}</li>
</ul>
{{/if}}
<Field size={{size}} />
<Controls
  ref:controls
  :algorithms
  :scaling
  :states
/>
<Canvas
  ref:canvas
  width={{canvas.width}}
  height={{canvas.height}}
/>
<script type="buble">
import algorithms from '../js/algorithms'
import settings from '../js/settings.js'
import states from '../js/states.js'

import Canvas from './Canvas.html'
import Controls from './Controls.html'
import Field from './Field.html'

var scaling = []
for (var i = 1; i <= settings.detail.max; i++) {
  scaling.push(i)
}

export default {
  oncreate () {
    const controls = this.refs.controls
    const components = [
      'detail',
      'algorithm',
      'neighbor',
      'radius',
      'state'
    ]
    components.map((component) => {
      controls.refs[component]
        .observe(component, (value) => {
          settings[component] = value
          this.set({[component]: value})
        })
    })
  },
  data () {
    const { size } = settings.canvas
    return {
      algorithms: algorithms.all,
      scaling,
      states,
      canvas: {
        height: size,
        width: size
      },
      debug: false 
    }
  },
  components: {
    Controls,
    Canvas,
    Field
  }
}
</script>
