{#if debug}
{debug}
<ul>
<li>settings:</li>
<li>algorithm:  {algorithm}</li>
<li>neighbor:  {neighbor}</li>
<li>state:  {state}</li>
</ul>
{/if}
<Field />
<Controls
  ref:controls
  {algorithms}
  {states}
/>
<!--
<Canvas
  ref:canvas
  width={{canvas.width}}
  height={{canvas.height}}
/>
-->
<script>
import algorithms from '../modules/algorithms'
import settings from '../js/settings.js'
import states from '../js/states.js'

// import Canvas from './Canvas.html'
import Controls from './Controls.html'
import Field from './Field.html'

export default {
  oncreate() {
    const controls = this.refs.controls
    const components = ['algorithm', 'neighbor', 'state']
    components.map(component => {
      controls.refs[component].observe(component, value => {
        settings[component] = value
        this.set({ [component]: value })
      })
    })
  },
  data() {
    const { size } = settings.canvas
    return {
      algorithms: algorithms.all,
      states,
      canvas: {
        height: size,
        width: size,
      },
      debug: false,
    }
  },
  components: {
    Controls,
//    Canvas,
    Field,
  },
}
</script>
