<Controls
  algorithms={{algorithms}}
  settings={{settings}}
  scaling={{scaling}}
  states={{states}}
/>
<Canvas
  width={{canvas.width}}
  height={{canvas.height}}
/>
<script>
import algorithms from '../js/algorithms'
import settings from '../js/settings.js'
import states from '../js/states.js'

import Canvas from './Canvas.html'
import Controls from './Controls.html'

var scaling = []
for (var i = 1; i <= settings.detail.max; i++) {
  scaling.push(i)
}

export default {
  data () {
    return {
      algorithms: algorithms.all,
      scaling,
      settings,
      states,
      canvas: {
        height: 200,
        width: 200
      }
    }
  },
  components: {
    Controls,
    Canvas
  }
}
</script>
