<li>
  <div class="form-group form-group-sm">
    <label id="state_label"
        class="controls label label-default"
        for="nb_select">neighborhood</label>
    <select id="nb_select"
        class="btn btn-default"
        type="list"
        bind:value="neighbor"
    >
    {{#if neighbors}}
    {{#each neighbors as nb, i}}
        {{#if i === 0}}
        <option selected>{{nb.type}}</option>
        {{else}}
        <option>{{nb.type}}</option>
        {{/if}}
    {{/each}}
    {{/if}}
    </select>
  </div>
  {{neighbor}}
</li>
{{#if neighbors}}
{{#each neighbors as nb}}
  {{#if nb.type === neighbor}}
  <li>
    <Radius radii="{{nb.radius}}"/>
  </li>
  {{/if}}
{{/each}}
{{/if}}
<script>
import Radius from './Radius.html'

export default {
  components: {
    Radius
  }
}
</script>