{{#if neighbors}}
<li>
  <div class="form-group form-group-sm">
    <label id="state_label"
        class="controls label label-default"
        for="nb_select">neighbors</label>
    <select id="nb_select"
        class="btn btn-default"
        type="list"
        bind:value="neighbor"
    >
    {{#each neighbors as nb}}
      <option>{{nb.type}}</option>
    {{/each}}
    </select>
  </div>
</li>
{{#each neighbors as nb}}
  {{#if nb.type === neighbor}}
  <li>
    <Radius radii="{{nb.radius}}"/>
  </li>
  {{/if}}
{{/each}}
{{/if}}
<script>
import { filter } from 'lodash-es'
import Radius from './Radius.html'

export default {
  oncreate () {
    const initial = this.get('neighbors')[0].type
    this.set({ neighbor: initial })
    this.observe('neighbor', (v) => {
      console.log(`neighbor: [${v}] selected`)
      const a = this.get('neighbors')
      const selected = filter(a, {key: v})
      this.set({ radii: selected.radius })
    })
  },

  components: {
    Radius
  }
}
</script>