<li>
  <div class="form-group form-group-sm">
    <label id="state_label"
        class="controls label label-default"
        for="nb_select">neighbors</label>
    <select id="nb_select"
        class="btn btn-default"
        type="list"
        bind:value="neighbor"
    >
    {{#each neighbors as nb}}
      <option>{{nb.name}}</option>
    {{/each}}
    </select>
  </div>
</li>
<script type="buble">
export default {
  data () {
    return {
      neighbors: []
    }
  },
  oncreate () {
    const neighbors = this.get('neighbors')
    if (neighbors && neighbors.length > 0) {
      const neighbor = neighbors[0]
      this.set({ neighbor })
    }
  }
}
</script>
