<li>
    <div class="form-group form-group-sm">
        <label id="nb_r_label"
            class="controls label label-default"
            for="nb_r_select">radius</label>
        <select
            id="nb_r_select"
            class="btn btn-default"
            type="list"
            list="neighborhood_r_list"
            bind:value="radius"
        >
            {{#if radii}}
            {{#each radii as r}}
            <option>{{r}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
</li>
<script type="buble">
export default {
    oncreate () {
        const radii = this.get('radii')
        if (radii && radii.length > 0) {
            console.log(radii)
            const radius = radii[0]
            this.set({ radius })
        }
    },
    data () {
        return {
            radius: 1
        }
    }
}
</script>
