<li>
  <div class="form-group form-group-sm">
    <label
      id="state_label"
      class="controls label label-default"
      for="state_select"
    >states</label>
    <select
      id="state_select"
      class="btn btn-default"
      type="list"
      list="state"
      bind:value="state"
      ref:state
      on:click='fire( "select" )'
    >
    {{#if states}}
    {{#each states as s}}
    <option>{{s.name}}</option>
    {{/each}}
    {{/if}}
    </select>
  </div>
</li>
<script>
export default {
  oncreate() {
    const states = this.get('states');
    if (states && states.length > 0) {
      const state = states[0] && states[0].name;
      this.set({ state });
    }
  },
};
</script>
